In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv("C:/Users/Rakes/Downloads/diabetes.csv")

In [43]:
y=data.head(3)

In [45]:
y

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [47]:
data.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [49]:
data["Age"].mean()

33.240885416666664

In [ ]:
mod=data["Age"].mode()[0]
mod

In [ ]:
data["Glucose"].median()

In [ ]:
md=data["Age"].median()
md

In [ ]:
mf=np.mean(data["Age"])

In [ ]:
mf

In [37]:
np.sum(data["Glucose"])

92847

In [67]:
sns.histplot(x="Age",data=data,bins=[i for i in range(0,81,5)])
plt.plot([mf for i in range(0,70)],[i for i in range(0,70)],c="red",label="mean")
plt.plot([md for i in range(0,70)],[i for i in range(0,70)],c="yellow",label="median")
plt.plot([mod for i in range(0,70)],[i for i in range(0,70)],c="green",label="mode")
plt.legend()
plt.show()

TypeError: 'int' object is not callable

In [ ]:
bpmean=data["BloodPressure"].mean()
bpmean

In [ ]:
min_range=data["Age"].min()
max_range=data["Age"].max()
(min_range,max_range)

In [35]:
range=max_range-min_range
range

60

In [55]:
data["Age"].std()

11.76023154067868

In [59]:
data["Age"].var()

138.30304589037365

In [87]:
bp=np.array(data["Age"])
be=np.array(data["BloodPressure"])

In [91]:
plt.scatter(bp)
plt.scatter(be)
plt.show()

TypeError: scatter() missing 1 required positional argument: 'y'