In [72]:
import numpy as np

In [73]:
import pandas as pd

In [74]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [75]:
s

a    0.471629
b   -1.603315
c    1.174845
d    0.705733
e    0.054049
dtype: float64

In [76]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [77]:
pd.Series(np.random.randn(5))

0   -0.857697
1   -0.304754
2    1.657871
3   -0.579552
4    0.339097
dtype: float64

In [78]:
import pandas as pd
import numpy as np
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df.style \
  .format(precision=3, thousands=".", decimal=",") \
  .format_index(str.upper, axis=1) \
  .relabel_index(["row 1", "row 2"], axis=0)

In [79]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Beijing"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

weather_df

               Tokyo   Beijing
2021-01-01  1.404582  0.924440
2021-01-02  1.233062  2.791815
2021-01-03  2.084048  1.945321
2021-01-04  2.708353  4.084341
2021-01-05  3.251631  1.271930
2021-01-06  2.776575  3.562743
2021-01-07  1.712625  0.201882
2021-01-08  1.028054  3.244867
2021-01-09  4.181388  0.691957
2021-01-10  1.502006  1.418080

In [80]:
weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)